<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error</title>
    
    <!-- Tailwind CSS Link -->
    <link href="/static/css/output.css" rel="stylesheet">
 
  </head>
  <body class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="flex mx-auto max-w-screen-sm place-content-center">
        <img src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2692-thumb.png" class="h-52 w-52">
    </div>
    <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-red-600">404</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Ha ocurrido un error.</p>
        <a href="/usuario" class="inline-flex text-white bg-lime-600 font-medium rounded-md 
        text-sm px-5 py-2.5 text-center my-4 hover:bg-lime-700">Volver</a>
    </div>   
</div>
  </body>
</html>